template(name="headerUserBar")
  #header-user-bar
    a.header-user-bar-name.js-open-header-member-menu
      .header-user-bar-avatar
        +userAvatar(userId=currentUser._id)
      unless isMiniScreen
        if currentUser.profile.fullname
          = currentUser.profile.fullname
        else
          = currentUser.username

template(name="memberMenuPopup")
  ul.pop-over-list
      li: a.js-change-settings {{_ 'change-settings'}}
      li: a.js-change-avatar {{_ 'edit-avatar'}}
      li: a.js-edit-notification {{_ 'editNotificationPopup-title'}}
    if currentUser.isAdmin
      li: a.js-go-setting(href="{{pathFor 'setting'}}") {{_ 'admin-panel'}}
  hr
  ul.pop-over-list
    li: a.js-logout {{_ 'log-out'}}


template(name="editNotificationPopup")
  ul.pop-over-list
    li
      a.js-toggle-tag-notify-watch
        i.fa.fa-eye.colorful
        | {{_ 'watching'}}
        if hasTag "notify-watch"
          i.fa.fa-check
        span.sub-name {{_ 'notify-watch'}}
    li
      a.js-toggle-tag-notify-participate
        i.fa.fa-bell.colorful
        | {{_ 'tracking'}}
        if hasTag "notify-participate"
          i.fa.fa-check
        span.sub-name {{_ 'notify-participate'}}

template(name="changeSettingsPopup")
  ul.pop-over-list
    li
      a.js-toggle-system-messages
        | {{_ 'hide-system-messages'}}
        if hiddenSystemMessages
          i.fa.fa-check
    li
      label.bold
        | {{_ 'show-cards-minimum-count'}}
      input#show-cards-count-at.inline-input.left(type="number" value="#{showCardsCountAt}" min="0" max="99" onkeydown="return false")
      input.js-apply-show-cards-at.left(type="submit" value="{{_ 'apply'}}")
